[submodule "lib/raylib"]
	path = lib/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "lib/WiringPi"]
	path = lib/WiringPi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "lib/pigpio"]
	path = lib/pigpio
	url = git@github.com:joan2937/pigpio.git
